# Git artifacts
.gitignore
*.orig
!/.gitignore

# Maven artifacts
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Eclipse artifacts
.settings/
.project
.classpath
.checkstyle

# Log artifacts
*.log
*.log.*

# Idea artifacts
.idea/
**/*.iml

# Other
.*_backup

#FrontEnd
node_modules/